# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# History and temp
# history.json (We need this tracked by Git)
logs/
*.png
!logo.png
*.jpg
*.jpeg
